
#navcust{
  background-color: rgb(45, 45, 45);

}
.nav-link{
  color: rgb(192, 185, 185);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#rom-1{

  transition: transform 0.3s, background-color 0.3s;
}
#rom-1:hover{
  transform: scale(1.05);
 

}
#rom-2{

  transition: transform 0.3s, background-color 0.3s;
}
#rom-2:hover{
  transform: scale(1.05);
 

}
#rom-3{

  transition: transform 0.3s, background-color 0.3s;
}
#rom-3:hover{
  transform: scale(1.05);
 

}
#rom-4{

  transition: transform 0.3s, background-color 0.3s;
}
#rom-4:hover{
  transform: scale(1.05);
 

}
#rom-5{

  transition: transform 0.3s, background-color 0.3s;
}
#rom-5:hover{
  transform: scale(1.05);
 

}

.heading {
  position: absolute; 
  top: 260px; 
  left: 20px; 
  color: white; /* Text color */
 font-weight: bold;
 font-size: 25px;
 font-variant: small-caps;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text-white {
  text-decoration:solid; 
  
}
.nam{
  background-color:rgb(45, 45, 45) ;
}
.nam:hover{
  background-color: #333333;
}
.custom-shadow {
  box-shadow: 0 4px 20px rgba(235, 19, 19, 0.1); /* Customize shadow */
  transition: box-shadow 0.3s; /* Smooth transition */
}
.custom-shadow:hover {
  box-shadow: 0 8px 30px rgba(204, 0, 0, 0.2); /* Darker shadow on hover */
}